
.snake--wrapper{
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    text-align: center;
}
.snake--wrapper p{
    position: absolute;
    top: 10%;
    right: 4%;
    font-size: 2em;
    color: #f23d4f;
}
.canvas{
   max-width: 100%;
}
.rules{
    color: #f23d4f;
}
.header{
    text-align: center;
}